@charset "UTF-8";

:root {
    --roxo: #6a1e79;
    --rosa: #be1fa4;
    --amarelado: #a8b81e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: var(--roxo);
    height: 100vh;

    width: 100vw;
}

main {
    width: 100vw;
    height: 100vh;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000056;
    width: 265px;
    height: 515px;
    transition: .3s width, .3s height;
    transition-timing-function: ease; 
    transform: translate(-50%, -50%);
}

.imagem {
    background: var(--roxo) url(../img/building.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    display: block;
    height: 200px;
}

.formulario {
    display: block;
    padding: 15px;
}

.formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

.formulario p {
    font-size: .8em;
}

.campo {
    padding: 2px;
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.campo span {
    font-size: 1.8em;
}

.campo input {
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.campo label {
    display: none;
}

form > input[type=submit] {
    background-color: var(--rosa);
    display: block;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    height: 40px;
    transition: all .2s ease-in-out;
}

form > input[type=submit]:hover {
    background-color: var(--roxo);
}

.botao {
    background-color: rgb(179, 179, 179);
    display: block;
    border-radius: 8px;
    text-align: center;
    margin-top: 5px;
    padding-top: 7px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: black;
    transition: all .2s ease-in-out;
}
.botao:hover {
    background-color: rgb(138, 138, 138);
}

.botao span {
    font-size: .8em;
}