@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #6a1e79, #be1fa4);
    }

    .login {
        width: 80vw;
        height: 310px;
    }
    
    .imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    .formulario {
        float: right;
        width: 70%;
    }

    .formulario p{
        font-size: .9em;
    }

    .campo {
        margin-top: 15px;
    }

    .campo input{
        width: 100%;
    }

    form > input[type=submit], .botao {
        width: 100%;
    }
    
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #6a1e79, #be1fa4);
    }

    .login {
        width: 950px;
        height: 320px;
    }

    .imagem {
        float: right;
        width: 40%;
        height: 100%;
    }
    .formulario {
        float: left;
        width: 60%;
    }

    .formulario p {
        font-size: 1em;
    }
    
    .campo {
        margin-top: 15px;
    }

    .campo input{
        width: 100%;
    }

    form > input[type=submit], .botao {
        width: 100%;
    }
}
